<main [hidden]="!authenticated() && !ruleEnabled()">
    
    <!--MDB Tables-->
    <div class="container mt-4 master-container">

        <div class="card">
            <div class="card-body">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-12">
                        <h2 class="py-3 text-center font-bold font-up blue-text">Rules</h2>
                    </div>
                    <!-- Grid column -->
                </div>
                <div class="col-md-8" [hidden]="!searchEnabled()">
                    <div class="input-group mb-3">
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Search by name"
                                [(ngModel)]="name"
                            />
                            <div class="input-group-append">
                                <button
                                class="btn btn-outline-secondary"
                                type="button"
                                (click)="searchName()"
                                >
                                Search
                                </button>
                            </div>
                    </div>
                </div>
                <button type="button" routerLink="/rule-creation" class="btn btn-success btn-sm">Create New Rule</button>
                <p></p>
                <!-- Grid row -->
                <!--Table-->
                <table class="center table table-hover  mb-0">
                    <!--Table head-->
                    <thead>
                        <tr>
                            <!-- <th scope="row">#</th> -->
                            <th class="th-lg"><a>Name</a></th>
                            <th class="th-lg"><a href="">Field</a></th>
                            <th class="th-lg"><a href="">Clause</a></th>
                            <th class="th-lg"><a href="">Value</a></th>
                        </tr>
                    </thead>
                    <!--Table head-->
                    <!--Table body-->
                    <tbody>
                        <tr *ngFor="let rule of rules! | paginate : {
                            itemsPerPage: pageSize,
                            currentPage: page,
                            totalItems: count
                            }; let i = index" [class.active]="i == currentIndex"
                        (click)="setActiveRule(rule, i)">
                            <!-- <th scope="row">1</th> -->
                            <td>{{ rule.name }}</td>
                            <td>{{ rule.field }}</td>
                            <td>{{ rule.clause }}</td>
                            <td>{{ rule.value }}</td>
                        </tr>
                
                    </tbody>
                    <!--Table body-->
                </table>
                <!--Bottom Table UI-->
                <div class="d-flex justify-content-center">
                    <!--Pagination -->
                    <div class="col-md-12">
                        <pagination-controls
                        previousLabel="Prev"
                        nextLabel="Next"
                        [responsive]="true"
                        (pageChange)="handlePageChange($event)"
                        ></pagination-controls>
                    </div>
                    <!--/Pagination -->
                </div>
                <div class="items">
                    Items per Page:
                    <select (change)="handlePageSizeChange($event)">
                    <option *ngFor="let size of pageSizes" [ngValue]="size">
                        {{ size }}
                    </option>
                    </select>
                </div>
                <!--Bottom Table UI-->
            </div>
        </div>
        

        
        

    </div>
    <!--MDB Tables-->
    
</main>
<div [hidden]="authenticated()">
    <p>Login to see Admin panel</p>
</div>