<main [hidden]="!authenticated() && !repositoryEnabled()">
    
    <!--MDB Tables-->
    <div class="container mt-4 master-container">

        <div class="card">
            <div class="card-body">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-12">
                        <h2 class="py-3 text-center font-bold font-up blue-text">Repositories</h2>
                    </div>
                    <!-- Grid column -->
                </div>
                <div class="col-md-8" [hidden]="!searchEnabled()">
                    <div class="input-group mb-3">
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Search by name"
                                [(ngModel)]="name"
                            />
                            <div class="input-group-append">
                                <button
                                class="btn btn-outline-secondary"
                                type="button"
                                (click)="searchName()"
                                >
                                Search
                                </button>
                            </div>
                    </div>
                </div>
                <!-- Grid row -->
                <!--Table-->
                <table class="center table table-hover  mb-0">
                    <!--Table head-->
                    <thead>
                        <tr>
                            <!-- <th scope="row">#</th> -->
                            <th class="th-lg"><a>Name</a></th>
                            <th class="th-lg"><a href="">Language</a></th>
                            <th class="th-lg" *ngIf="userAgent == 'desktop' || userAgent == 'chrome'"><a href="">Branch</a></th>
                            <th class="th-lg"><a href="">Onboarded</a></th>
                        </tr>
                    </thead>
                    <!--Table head-->
                    <!--Table body-->
                    <tbody>
                        <tr *ngFor="let repository of repositories! | paginate : {
                            itemsPerPage: pageSize,
                            currentPage: page,
                            totalItems: count
                            }; let i = index" [class.active]="i == currentIndex"
                        (click)="setActiveRepository(repository, i)">
                            <!-- <th scope="row">1</th> -->
                            <td>{{ repository.name }}</td>
                            <td>{{ repository.language }}</td>
                            <td *ngIf="userAgent == 'desktop' || userAgent == 'chrome'">{{ repository.branch }}</td>
                            <td>{{ repository.enabled }}</td>
                        </tr>
                
                    </tbody>
                    <!--Table body-->
                </table>
                <!--Bottom Table UI-->
                <div class="d-flex justify-content-center">
                    <!--Pagination -->
                    <div class="col-md-12">
                        <pagination-controls
                        previousLabel="Prev"
                        nextLabel="Next"
                        [responsive]="true"
                        (pageChange)="handlePageChange($event)"
                        ></pagination-controls>
                    </div>
                    <!--/Pagination -->
                </div>
                <div class="items">
                    Items per Page:
                    <select (change)="handlePageSizeChange($event)">
                    <option *ngFor="let size of pageSizes" [ngValue]="size">
                        {{ size }}
                    </option>
                    </select>
                </div>
                <!--Bottom Table UI-->
            </div>
        </div>
        

        
        

    </div>
    <!--MDB Tables-->
    
</main>
<div [hidden]="authenticated()">
    <p>Login to see Admin panel</p>
</div>