
<div class="container">
  <div class="wrapper">
    <ul class="steps">
    <li [className]="stepEnabled(1) ? 'is-active' : ''">Step 1</li>
    <li [className]="stepEnabled(2) ? 'is-active' : ''">Step 2</li>
    <li [className]="stepEnabled(3) ? 'is-active' : ''">Step 3</li>
    <li [className]="stepEnabled(4) ? 'is-active' : ''">Step 4</li>
    <li [className]="stepEnabled(5) ? 'is-active' : ''">Onboarded</li>
    </ul>
    <form class="form-wrapper" >
        <input *ngIf="stepEnabled(2) || stepEnabled(3)" name="currentRepository" [(ngModel)]="currentRepository?.name!" class="form-control-plaintext form-control-sm" type="text" placeholder="Select a Repository" readonly>
        <input *ngIf="stepEnabled(3)" name="currentTemplate" [(ngModel)]="currentTemplate?.name!" class="form-control-plaintext form-control-sm" type="text" placeholder="Select a Template" readonly>
    </form>
    <form class="form-wrapper" [formGroup]="OnboardingGroup" *ngIf="stepEnabled(1)">
    <fieldset class="section" [className]="stepEnabled(1) ? 'is-active' : ''" *ngIf="stepEnabled(1)">
        <h3>Start with:</h3>
        <div class="row cf">
        <div class="five col">
            <input type="radio" name="r1" id="r1" checked>
            <label for="r1">
                <img width="50" height="50" alt="GitHub Logomark" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"><h4>Github</h4>
            </label>
        </div>
        </div> 

        <div class="inline back"><button class="next" (click)="next(2)" >Next</button></div>

    </fieldset>
    </form>
    <form class="form-wrapper" [formGroup]="OnboardingFormGroup2" *ngIf="stepEnabled(2) || stepEnabled(3) || stepEnabled(5)">

    <fieldset class="section" [className]="stepEnabled(3) ? 'is-active' : ''" *ngIf="stepEnabled(3)">
        <h3>Select a Template</h3>
        <app-template-list></app-template-list>
        <div class="inline"><button class="previous" (click)="next(2)">Back</button></div>
            <div class="inline back"><button class="next" (click)="next(4)" >Next</button></div>
        <br>
        
    </fieldset>
    
    <fieldset class="section" [className]="stepEnabled(5) ? 'is-active' : ''" *ngIf="stepEnabled(5)">
        <h3>{{ (errorMessage === '') ? 'APP Onboarded' : 'Sorry! We coudn\'t onboard your app! =(' }} </h3>
        <p>{{ (errorMessage === '') ? 'Your repository has been onboarded.' : 'We are sorry for this, but something went wrong.' }}</p>
        <p *ngIf="errorMessage === ''"></p>
        <p *ngIf="errorMessage === ''">Welcome to Harness !</p>
    
        <p *ngIf="errorMessage != ''">{{ errorMessage }}</p>
        <p *ngIf="errorMessage != ''">{{ errorMessage }}</p>
        <div class="inline"><button class="previous" (click)="next(1)" *ngIf="errorMessage != ''">Back</button></div>
        <div routerLink="/login" class="button" *ngIf="errorMessage === ''" >Go to Harness</div>
    </fieldset>
    </form>
    <form class="form-wrapper" [formGroup]="variablesForm" *ngIf="stepEnabled(4)">
    <fieldset class="section" [className]="stepEnabled(4) ? 'is-active' : ''" *ngIf="stepEnabled(4)">
        <div *ngIf="templateVariables != []" >
            <table class="center table table-sm table-borderless .table-hover">
                <!--Table head-->
                <thead>
                    <tr>
                        <!-- <th scope="row">#</th> -->
                        <th class="th-lg var-label"><a>Template Variables</a></th>
                        <th class="th-lg"><a href="">Value</a></th>
                    </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
                <tbody>
                    <tr *ngFor="let input of templateVariables!; let i = index" [class.active]="i == currentIndex">
                        <!-- <th scope="row">1</th> -->
                        <td class="var-label">{{input?.name}}:</td>
                        <td><input [formControlName]="input?.name!" class="form-control inline back" type="text" [name]="input?.name" placeholder="<+input>" [id]="'variable_'+input?.name"></td>
                    </tr>
            
                </tbody>
                <!--Table body-->
            </table>
            <button class="btn button"  (click)="next(5)">
                Onboarding Harnesss
            </button>
            <!-- <div *ngFor="let input of templateVariables!; let i = index" [class.active]="i == currentIndex" class="parent-variables">
                <div class="inline">
                    <label>{{input?.name}}:</label>
                </div> 
                <div class="inline">
                    <input [formControlName]="input?.name!"  class="form-control inline back" type="text" [name]="input?.name" value="{{input?.value}}" [id]="'variable_'+input?.name" [placeholder]="input?.name" >
                </div>
            </div> -->
        </div>
    </fieldset>
    </form>
    <form class="form-wrapper" [formGroup]="OnboardingFormGroup">
        <fieldset [className]="stepEnabled(2) ? 'is-active' : ''" class="section" *ngIf="stepEnabled(2)">
        <h3>Select a repository:</h3>

        <app-repositories></app-repositories>
        
        <div class="inline"><button class="previous" (click)="next(1)">Back</button></div>
        <div class="inline back"><button class="next" (click)="next(3)" >Next</button></div>
        <!-- <div><button class="next" (click)="next(3)" [disabled]="!OnboardingFormGroup.valid">Next</button></div> -->
        
        
        
        </fieldset>
    </form>
    
    </div>
</div>

<div class="list row" [hidden]="!authenticated()">
    {{ msgFromParent1 }}
</div>
<div [hidden]="authenticated()">
	<p>Login to see Tutorials</p>
</div>